# {{ ansible_managed }}
# All options in: https://confluence.atlassian.com/bitbucketserver/bitbucket-server-config-properties-776640155.html
server.port={{ bitbucket_port }}

jmx.enabled={{ bitbucket_jmx.enabled }}

{% if bitbucket_database_configuration is defined %}
{% set conf = bitbucket_database_configuration %}
# DB options
jdbc.driver={{ conf.driver }}
jdbc.url={{ conf.url }}
jdbc.user={{ conf.user }}
jdbc.password={{ conf.password }}
{% endif %}
